
<a md-button  color="primary">
  {{title}}
</a>
<br>
<br>
<br>
<span md-button color="primary">
    Correntista logado:
    {{contaLogada.nome}} - Agência: {{contaLogada.agencia}}/Conta:{{contaLogada.conta}}-{{contaLogada.contaDac}}
</span>

<div>
    <br>
    <br>
    
    <div>Conta para transferência</div>
    <div>
      <select id="contasSelect" [(ngModel)]="correntistaDestino">  
        <option *ngFor="let conta of contas" value="{{conta.idCorrentista}}">
          {{conta.nome}} - Agência: {{conta.agencia}}/Conta:{{conta.conta}}-{{conta.contaDac}}
        </option>
      </select> 
    </div>
    <br>
    <br>
    <br>
    <div>Valor da transferência</div>
    <div>
      <input type="text" color="primary" [(ngModel)]="valor" id="valor">
    </div>
    <br>
    <br>
    <div>{{mensagem}}</div>
    <br>
    <a md-raised-button color="primary" (click)="transferir()">Efetuar transferência</a>
    
  </div>
   
    <br>
 