<section>
  <h2>Transferências</h2>
  <div class="form-row">
    <label for="contasSelect">Conta para transferência</label>
    <select id="contasSelect" [(ngModel)]="correntistaDestino" [disabled]="carregandoContas || !contas.length">
      <option [ngValue]="0">Selecione</option>
      <option *ngFor="let conta of contas" [ngValue]="conta.idCorrentista">
        {{conta.nome}} - Agência: {{conta.agencia}}/Conta:{{conta.conta}}-{{conta.contaDac}}
      </option>
    </select>
    <div class="field-message">{{mensagemContas}}</div>
  </div>

  <div class="form-row">
    <label for="valor">Valor da transferência</label>
    <input type="number" color="primary" [(ngModel)]="valor" id="valor">
  </div>

  <div class="message">{{mensagem}}</div>
  <button type="button" class="primary-action" (click)="transferir()">Efetuar transferência</button>
</section>
